<nav class="navbar navbar-expand-lg bg-body-tertiary b-dark border-bottom border-body mb-5" data-bs-theme="dark">
  <div class="container-md">
    <a class="navbar-brand" href="/lists">To Do Lists</a>
  </div>
</nav>